body {
    font-family: arial;
    font-size: 13px;
    color: #5C5C5C;
}

#top-right {
}

#about {
    float: left;
    padding: 15px;
}

#store {
    float: left;
    padding: 15px;
}

#gmail {
    float: right;
    padding: 15px;
}

#image {
    float: right;
    padding: 15px;
}

#square {
    float: right;
    padding: 15px;
}

#icon {
    float: right;
    padding: 15px;
    
}

#bottom-page {
    position: fixed;
    bottom: 0px;
    background-color: #F1F1F1;
    height: 42px;
    width: 1300px;
    width: 100%;
    margin-right: -25px;
}

#left-bottom {
    float: left;
}

#advertize {
    float: left;
    padding: 15px;
    margin-left: -5px;
}

#business {
    float: left;
    padding: 15px;
}

#how-search {
    float: left;
    padding: 15px ;
}

#right-bottom {

    
}

#privacy {
    float: right;
    padding: 15px;
}

#term {
    float: right;
    padding: 15px;
}

#setting {
    float: right;
    padding: 15px;
    margin-right: 15px;
}

#goggle {
    width: 50%;
    width: 1300px;
    position: fixed;
    top: 100px;
    left: 500px;
    
}

input[type=text] {
    position: fixed;
    top: 305px;
    left: 460px;
    border: solid 1px;
    border-radius: 25px;
    border-color: rgb(223,225,229);
    background-image: url("pictures/goggles.png");
    background-repeat: no-repeat;
    background-position: 15px 15px;
    padding-left: 50px;
    font-size: 16px;
    font-family: arial;
}

input:hover {
    animation-name: box-shadow;
    box-shadow: 0 1px 5px rgb(223,225,229);
}

#searchbox {
    width: 600px !important; 
    height: 50px !important; 
}