body {
    font-family: arial;
    font-size: 13px;
    color: #5C5C5C;
}

a:link {
    color: #5C5C5C;
    text-decoration: none
}

a:visited {
    color: #5C5C5C;
}

a:hover {
    text-decoration: underline;
}

#about {
    float: left;
    padding: 15px;
    margin-left: 2px;
}

#store {
    float: left;
    padding: 15px;
    margin-left: -11px;
}

#gmail {
    float: right;
    padding: 15px;
    margin-right: -15px;
    margin-top: 1px;
}

#image {
    float: right;
    padding: 15px;
    margin-right: -7px;
    margin-top: 1px;
}

#square {
    float: right;
    padding:15px;
    margin-top: 5px;
    margin-right: 20px;
    background: url("pictures/lightdots.png") no-repeat;
}

#square:hover {
    background: url("pictures/darkdots.png") no-repeat;
    display: inline;
}

#icon {
    float: right;
    padding: 10px;
    border: solid 1px #FF86F0;
    background-color: #FF86F0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    text-align: center;
    color: white;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 5px;
    
}

#bottom-page {
    position: fixed;
    bottom: 0px;
    background-color: #F1F1F1;
    height: 42px;
    width: 1300px;
    width: 100%;
    margin-left: -10px;
}

#left-bottom {
    float: left;
}

#advertize {
    float: left;
    padding: 15px;
    margin-left: 17px;
}

#business {
    float: left;
    padding: 15px;
    margin-left: -3px;
}

#how-search {
    float: left;
    padding: 15px;
    margin-left: -3px;
}

#right-bottom {

    
}

#privacy {
    float: right;
    padding: 15px;
    margin-right: -3px;
}

#term {
    float: right;
    padding: 15px;
    margin-right: -3px;
}

#setting {
    float: right;
    padding: 15px;
    margin-right: 13px;
}

#goggle {
    width: 50%;
    width: 1300px;
    position: fixed;
    top: 75px;
    left: 500px;
    
}

input[type=text] {
    position: fixed;
    top: 275px;
    left: 450px;
    border: solid 1px;
    border-radius: 25px;
    border-color: rgb(223,225,229);
    background-image: url("pictures/goggles.png");
    background-repeat: no-repeat;
    background-position: 15px 15px;
    padding-left: 50px;
    font-size: 16px;
    font-family: arial;
    outline: none;
}

input:focus{
    animation-name: box-shadow;
    box-shadow: 0 1px 5px rgb(223,225,229);
}

input:hover {
    animation-name: box-shadow;
    box-shadow: 0 1px 5px rgb(223,225,229);
}

#searchbox {
    width: 600px !important; 
    height: 50px !important; 
}

#imfeeling-button {
    width: 140px;
    height: 35px;
    background-color: #F1F1F1;
    border: #F1F1F1;
    color: #5C5C5C;
    border-radius: 5px;
    font-size: 14px;
}

#search-button {
    width: 130px;
    height: 35px;
    background-color: #F1F1F1;
    border: #F1F1F1;
    color: #5C5C5C;
    border-radius: 5px;
    font-size: 14px;
}

#im-feeling {
    position: fixed;
    top: 352px;
    left: 740px;
    float: right;
}

#google-search {
    position: fixed;
    top: 352px;
    left: 600px;
    float: left;
}

#imfeeling-button:hover {
    animation-name: background-color;
    color: black;
    background-color: rgb(244,244,244);
    border: 1px #5C5C5C solid;
    
}

#search-button:hover {
    animation-name: background-color;
    color: black;
    background-color: rgb(244,244,244);
    border: 1px #5C5C5C solid;
}
